 .userCurrencyField {
      width: 100%;
      height: inherit;
      font-size: 15px;
      background-color:inherit;
      color:inherit;
      border:none;
      font-family:inherit;
      padding:22px;
      font-weight:bold;
      
    }